* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 90vw;
    margin: auto;
    background-color: #55a29e;
}

/* Titulo principal */
header {
    text-align: center;
    color: #250c21;
    margin: 15px;
    font-family: 'Inter Variable', sans-serif;
    font-weight: 900;
}

/* Uso flex para centrar la grid en la pantalla */
main {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor del grid 4x4 */
.posters-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 15px;
    width: 80vw;
    height: 80vh;
}

/* Clase común para las imagenes, configuraciones aplicadas a las 11 img */
.poster{
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.poster:hover {
    transform: scale(1.03);
    box-shadow: 10px 10px 5px -4px rgba(30,71,76,0.75);
}

/* Ubicacion de las imagenes en el grid y carga URL de la imagen */
.poster-1 {
    grid-column: 1;
    grid-row: 1;
    background-image: url(../img/montana.jpg);
}

.poster-2 {
    grid-column: 2;
    grid-row: 1/3;
    background-image: url(../img/modelo.jpg);
}

.poster-3 {
    grid-column: 3/5;
    grid-row: 1;
    background-image: url(../img/cafe.jpg);
}

.poster-4 {
    grid-column: 1;
    grid-row: 2;
    background-image: url(../img/bici.jpg);
}

.poster-5 {
    grid-column: 3;
    grid-row: 2;
    background-image: url(../img/concierto.jpg);
}

.poster-6 {
    grid-column: 4;
    grid-row: 2;
    background-image: url(../img/auroraBoreal.jpg);
}

.poster-7 {
    grid-column: 1;
    grid-row: 3/5;
    background-image: url(../img/paris.jpg);
}

.poster-8 {
    grid-column: 2/4;
    grid-row: 3;
    background-image: url(../img/selva.jpg);
}

.poster-9 {
    grid-column: 4;
    grid-row: 3/5;
    background-image: url(../img/catrina.jpg);
}

.poster-10 {
    grid-column: 2;
    grid-row: 4;
    background-image: url(../img/dev.jpg);
}

.poster-11 {
    grid-column: 3;
    grid-row: 4;
    background-image: url(../img/pastas.jpg);
}
