* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 80vw;
    margin: auto;
    background-color: #eeefe3;
}
/* main {
    height: 1000px;
} */

header {
    text-align: center;
    color: #252b3c;
    margin: 20px;
    font-family: 'Inter Variable', sans-serif;
    font-weight: 900;
    /* text-shadow: 5px 5px 6px rgba(6,6,10,0.43); */
}

.gallery-img-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 30px;    
}

.posters img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 15px;
}
.posters img:hover {
    transform: scale(1.03);
    box-shadow: 10px 10px 5px -4px rgba(30,71,76,0.75);
}

.poster-piratas {
    grid-column: 2;
    grid-row: 1 / 3;
}

.poster-harry {
    grid-column: 3 / 5;
}

.poster-avengers {
    grid-row: 3 / 5;
}

.poster-avatar {
    grid-column: 2 / 4;
}

.poster-matrix {
    grid-column: 4;
    grid-row: 3 / 5;
}