:root {
    --bg-color: #f3f3f3;
    --bg-article: #ccd7ea;
    --title-color: #391342;
    --title-nav-color: #243D4D;
    --text-color: #841c59;
    --border-article: #4578bf;
    --title-article: #391342;
    --text-article: #841c59;
}