:root {
    --bg-color: #eaf6f0;
    --bg-section: #dbddbd;
    --title-color: #241a29;
    --text-color: #473551;
    --box-out: #c2b595;
    --bg-button-in: #ca9fa5;
    --bg-button-out: #bebdc9;
}

/*
#eaf6f0
#dbddbd
#c2b595
#ca9fa5
#b57ca4


#f8bded
#b78abf
#775983
#473551
#241a29
*/