* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans Variable', sans-serif;
    background-color: var(--bg-color);
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.list-nav {
    display: flex;
    gap: 40px;
    & li {
        list-style: none;
    }
    & a {
        text-decoration: none;
        color: var(--title-nav-color);
        font-weight: 800;
    }
}

.list-nav a:hover, .list-nav a:active {
    color: var(--border-article);
}

.socialmedia-container {
    padding: 10px 20px 0;
    display: flex;
    gap: 10px;
}


/* Main */
/* Titles */
.main-title {
    text-align: center;
    padding: 45px 0 30px;
}
.main-title h1, .main-title h2 {
    color: var(--title-color);
    font-weight: 800;
    font-size: 44px; 
}
.main-title p {
    color: var(--text-color);
    padding-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

/* Challenges Section */
.challenges-section { /*Para centrar la grid*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.challenges-container{ /* Contenedor de proyectos en grid */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.challenges-container a { /* Enlace al proyecto */
    text-decoration: none;
}
.challenges-container a:hover, .challenges-container a:active {
    transform: scale(1.05);
}
.challenge {
    background-color: var(--bg-article);
    border-radius: 7px;
    width: 350px;
    padding: 10px;
    border-left: 7px solid var(--border-article);
    filter: drop-shadow(0 0 5px #57155b);
}
.title-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.challenge h3 {
    color: var(--title-article);
    font-size: 20px;
    padding-bottom: 5px;
}
.challenge p {
    color: var(--text-article);
    font-size: 16px;
}


/*
/*
#dfa0cc, #e2c3a8, #2d181e, #7f7779, #e5e5e5
*//*
body {
    font-family: 'Open Sans Variable', sans-serif;
    background-color: #e5e5e5;
    width: 90%;
    margin: 0 auto;
}

h1 {
    color: #2d181e;
    font-size: 44px;
    text-align: center;
    margin: 50px;
}

.navigator{
    border-bottom: 5px solid #2d181e;
}
.bar-nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.bar-nav, li {
    display: grid;
    place-items: center;
    background-color: #f8f9fa;
    padding: 8px;
    border-radius: 5px;
}

.btn:link, .btn:visited {
    background-color: #e2c3a8;
    color: #7f7779;
    text-decoration: none;
    padding: 8px;
    display: inline-block;
    border-radius: 5px;
}

.btn:hover, .btn:active {
    background-color: #dfa0cc;
    color: #2d1524;
}*/