* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans Variable', sans-serif;
    background-color: var(--bg-color);
    width: 75vw;
    margin: auto;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.list-nav {
    display: flex;
    gap: 40px;
    & li {
        list-style: none;
    }
    & a {
        text-decoration: none;
        color: var(--title-nav-color);
        font-weight: 800;
    }
}

.list-nav a:hover, .list-nav a:active {
    color: var(--border-article);
}

.socialmedia-container {
    padding: 10px 20px 0;
    display: flex;
    gap: 10px;
}


/* Main */
/* Titles */
.main-title {
    text-align: center;
    padding: 45px 0 30px;
}
.main-title h1, .main-title h2 {
    color: var(--title-color);
    font-weight: 800;
    font-size: 44px; 
}
.main-title p {
    color: var(--text-color);
    padding-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

/* Challenges Section */
.challenges-section { /*Para centrar la grid*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.challenges-container{ /* Contenedor de proyectos en grid */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.challenges-container a { /* Enlace al proyecto */
    text-decoration: none;
}
.challenges-container a:hover, .challenges-container a:active {
    transform: scale(1.08);
}
.challenge {
    background-color: var(--bg-article);
    border-radius: 7px 7px 40px 7px;
    width: 350px;
    height: 200px;
    padding: 10px;
    border-left: 7px solid var(--border-article);
    filter: drop-shadow(7px 7px 5px #693078);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.challenge h3 {
    color: var(--title-article);
    font-size: 20px;
    padding-bottom: 10px;
}
.challenge p {
    color: var(--text-article);
    font-size: 16px;
}
