/*
Fondo: #fcfcfc
Color primario: #4756df, #8b8eaf
Color secundario: #ff7235, #a17a69
*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;    
    background-color: #fcfcfc;
}

/* Main Section */
.main-section {
    width: 60%;
    margin: auto;
    font-weight: 300;
}

#about, #skills, #projects, #contact {
    height: 600px;
}

h2 {
    color: #212529;
    text-align: center;
    font-weight: 900;
}

/* Header Section */
.header-bar {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 45px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    color: #4756df;
    font-weight: 900;
    background-color: white;
}

nav, ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-items:link, .nav-items:visited {
    text-decoration: none;
    color: #4756df;
}

.nav-items:hover, .nav-items:active {
    color: #ff7235;
}

/* Social Network Section */
.social-net {
    text-align: center;
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.index-return:link, .index-return:visited {
    text-decoration: none;
    border: 2px solid #4756df;
    background-color: #4756df;
    color: #fcfcfc;
    border-radius: 4px;
    padding: 5px;
}

.index-return:hover, .index-return:active {
    background-color: #8b8eaf;
    border: 2px solid #8b8eaf;
}

/* About me Section */
.aboutme {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.aboutme .content-about {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.aboutme h2 {
    text-align: center;
}

.code-img {
    height: 250px;
}

/* Skills Section */
.imgs-logo{
    height: 100px;
}

.myskills{
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.first-set-skills, .second-set-skills {
    display: flex;
    justify-content: center;
    gap: 50px;    
}

.first-set-skills img, .second-set-skills img {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 3px 10px #8b8eaf;
}

.myskills h2 {
    text-align: center;
}

/* Projects Section */
.myprojects {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.projects-container {
    display: flex;    
    gap: 30px;
}

.project-content {
    display: flex;
    flex-direction: column;
}

.project-content:hover {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 10px #8b8eaf;
    padding: 20px;
}

.project-card {
    text-decoration: none;
    color: #212529;
}

.project-content p {
    text-align: left;
}

.title-icon {
    display: flex;
    gap: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.myprojects h2 {
    text-align: center;
}

.project-title {
    font-size: 20px;
    font-weight: 500;
}

.project-icon {
    width: 20px;
    color: #4756df;
}

.imagen {
    margin: 0 auto;
}

.project-card {
    text-align: center;
}

.project-card img {
    height: 120px;
    align-items: center;    
    border-radius: 8px;
}

/* Form Section */
.contactme {
    color: #4756df;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-contact {
    max-width: 700px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction:column;
}

.form-division {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.input-field {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #4756df;
    border-radius: 3px;
}

input[type="submit"].btn-send {
    border: 2px solid #4756df;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
    padding: 5px;
}
input[type="submit"].btn-send:hover {
    background-color: #4756df;
    color: #f9f9f9;
}

/* Footer */
footer {
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
    color: #8b8eaf;
}